/*-- Use For Custom Styling --*//*-- Use For Custom Styling --*/


.tp-bullet{

    display: none !important;
}

.service_title {

    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    background-color: rgb(0 0 0 / 80%);
    padding: 10px;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.3s ease;

}

/* .cbp-item-wrapper:hover .service_title {
    opacity: 0;
  } */


  .services-box {
    margin-top: 25px;
    margin-bottom: 10px;
    display: table;
    width: 100%;
}
img.sector_class {
    padding-left: 18px;
}

.services-detail {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    border: 2px solid #000; /* Add the border */
    padding: 20px;
    color: #fff;
    font-size: 15px;
    position: relative;
    height: 107px;
    border: 1px solid rgba(223, 182, 86, .4);
    /* display: table-cell; */
    vertical-align: middle;
    text-align: center;
    padding: 0 15px;
    margin: 0 auto 1em;
}

.services-detail p.service-head {
    /* color: #252323!important; */
    font-weight: bold!important;
    text-transform: uppercase!important;
}

.services-detail p {
    font-family: font_2!important;
    display: inline-block;
    text-align: left;
    float: left;
    padding-left: 50px;
    /* color: #2d2d2d!important; */
    font-size: .85rem!important;
}


img.sector_class_cloud {
    padding-left: 125px;
}

img.sector_class_fineDine {
    padding-left: 72px;
}

img.sector_class_quick {
    padding-left: 125px;
}

img.sector_class_clubs {
    padding-left: 308px;
}

.menu-lines span {
    background-color: white !important;
}


.mobile_text{

    display: none;
}


@media only screen and (max-width: 600px) {

    .mobile_text{

        display: block;
    }

    .desktop_text{

        display: none !important;
    }


  }
